:root {
    --bali-blue: #3B71FE;
    --bali-black: #0D1F35;
    --bali-slate: #565E73;
    --bali-green: #B3E8BE;
}

@font-face {
    font-family: Poppins;
    src: url("../fonts/Poppins-Regular.woff") format("woff"),
    url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-SemiBold.woff") format("woff"),
    url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: Gilroy;
    src: url("../fonts/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy-Bold.ttf") format("truetype");
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: Poppins, sans-serif;
    color: var(--bali-black);
}

h1, h2, h3, h4, h5, h6, strong {
    font-family: Gilroy, sans-serif;
    font-weight: bold !important;
}

#header .navbar-brand a h1 {
    color: var(--bali-black);
    font-size: 32px;
}

#header .navbar-brand a h1::after {
    content: ".";
    color: var(--bali-blue);
}

#header .nav-link {
    margin: 24px;
    color: var(--bali-black);
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    font-size: 18px;
    transition: color .15s ease;
}

#header .nav-link:hover {
    color: var(--bali-blue);
}

#header .btn {
    margin: 16px;
    padding: 12px 32px;
    color: white;
    background-color: var(--bali-blue);
    border-radius: 10px;
    font-size: 18px;
}

#header .navbar-toggler {
    border: none;
    width: 32px;
    height: 32px;
    transform: translate(-50%);
}

#header .menu-icon, #header .menu-icon::before, #header .menu-icon::after {
    display: block;
    width: 28px;
    height: 4px;
    background-color: var(--bali-black);
    border-radius: 2px;
}

#header .menu-icon::before {
    content: "";
    width: 32px;
    transform: translate(-4px, -8px);
}

#header .menu-icon::after {
    content: "";
    width: 24px;
    transform: translate(4px, 4px);
}

#header .navbar-toggler:focus {
    box-shadow: none;
}

#hero {
    height: 600px;
}

#hero .carousel-item {
    border-radius: 50px;
    overflow: hidden;
}

#hero img {
    width: 100%;
    height: 600px;
    object-fit: cover;
    filter: brightness(.8);
}

#hero .carousel-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#hero h2 {
    text-align: center;
    color: white;
    font-size: 64px;
}

#hero p {
    text-align: center;
    color: white;
}

#hero form {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 720px;
    max-width: 80%;
    background-color: white;
    padding: 50px;
    border-radius: 50px;
}

#hero form input {
    border-radius: 10px;
}

#hero form button {
    background-color: var(--bali-blue);
    color: white;
    margin-left: 20px;
    border-radius: 10px;
    padding-right: 24px;
    padding-left: 24px;
}

@media (max-width: 576px) {
    #hero {
        height: 500px;
    }

    #hero .carousel-title {
        top: 45%;
    }

    #hero img {
        height: 500px;
    }

    #hero h2 {
        font-size: 48px;
    }

    #hero form {
        top: 90%;
        padding: 40px 30px;
        max-width: 100%;
    }

    #hero form button {
        margin-left: 8px;
        padding-right: 16px;
        padding-left: 16px;
    }
}

#destinations {
    margin-top: 200px;
    margin-bottom: 100px;
}

#destinations img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 25px;
}

#destinations .star {
    background-color: #f6f7f8;
    padding: 6px 16px;
    border-radius: 16px;
}

#destinations .star img {
    height: 16px;
    object-fit: initial;
    color: orange;
    margin-right: 4px;
}

#destinations .star span {
    font-weight: 700;
}

#tours {
    margin-top: 160px;
    margin-bottom: 100px;
}

#tours h2 {
    font-weight: 600 !important;
    font-size: 24px;
    color: var(--bali-blue);
}

#tours .display-4 {
    font-family: Gilroy, sans-serif;
}

#tours .card {
    border-radius: 30px;
}

#tours .card-img {
    border-radius: 30px;
    object-fit: cover;
}

#tours .star {
    background-color: #f6f7f8;
    padding: 6px 16px;
    border-radius: 16px;
}

#tours .star img {
    height: 16px;
    object-fit: initial;
    color: orange;
    margin-right: 4px;
}

#tours .star span {
    font-weight: 700;
}

#reviews {
    margin-top: 160px;
    margin-bottom: 100px;
}

#reviews button {
    background-color: var(--bali-blue);
    color: white;
    margin-left: 20px;
    border-radius: 10px;
    padding: 16px 24px;
    box-shadow: 0 16px 48px rgba(59, 113, 254, 0.175);
}

#reviews .card {
    border-radius: 30px;
    filter: drop-shadow(0 0 48px rgba(0, 0, 0, .05));
}

#reviews h3 {
    font-size: 16px;
    color: var(--bali-blue);
}

#reviews .card-img-bottom {
    padding: 12px;
    background-color: white;
    border-radius: 50%;
    width: 96px;
    height: 96px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

#reviews .card-img-bottom img {
    border-radius: 50%;
    width: 72px;
    object-fit: cover;
}

#subscribe {
    margin-top: 160px;
    margin-bottom: 100px;
    background-color: var(--bali-black);
    color: white;
    border-radius: 30px;
    padding: 50px;
}

#subscribe form {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}

#subscribe input {
    border-radius: 10px;
}

#subscribe .button-group {
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
    background-color: #f6f7f8;
}

#subscribe .button-group span {
    color: var(--bali-blue);
    font-weight: 600;
    font-family: Gilroy, sans-serif;
}

#subscribe button {
    background-color: var(--bali-blue);
    color: white;
    display: block;
    border-radius: 10px;
    padding: 8px 24px;
}

@media (max-width: 576px) {
    #subscribe {
        border-radius: 0;
    }
}

footer {
    padding-bottom: 50px;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer ul a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background-color: var(--bali-black);
    border-radius: 50%;
    margin-right: 8px;
    margin-left: 8px;
}